<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrA8g_NqSgyVhEG0s6R1SRMT-L_j2MN1Y&callback=initMap"></script>
<%= custom_form_for @inmueble, html: {id: 'form_principal'} do |f| %>
  <%= f.error_messages %>
  <div class="form-inputs">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a data-no-turbolink='true' href="#general">General</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#administracion">Administracion</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#encargado">Encargado</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="general">
        <div class="row">
          <div class="columns medium-2">
            <%= f.collection_select :inmueble_tipo_id, @inmueble_tipo, :id, :nombre %>
          </div>
          <div class="columns medium-2 end">
            <%= f.text_field :codigo %>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-2">
            <%= f.text_field :direccion, :label => 'Direccion (google maps)', :placeholder => 'Ej: Arenales 2500, CABA'%>
          </div>
          <div class="columns medium-2">
            <%= f.text_field :piso %>
          </div>
          <div class="columns medium-2">
            <%= f.text_field :depto %>
          </div>
          <div class="columns medium-4 end">
            <%= f.text_field :localidad, disabled: true %>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-6">
            <%= f.text_area :descripcion %>
          </div>
          <div class="columns medium-6">
            <div id="map_canvas"></div>
          </div>
        </div>
      </div>
      <div class="content" id="administracion">
        <div class="row">
          <div class="columns medium-2">
            <%= f.text_field :administracion %>
          </div>
        </div> 
        <div class="row">
          <div class="columns medium-2">
            <%= f.text_field :adm_email, label: 'Email' %>
          </div>
          <div class="columns medium-2">
            <%= f.text_field :adm_tel1, label: 'Telefono 1' %>
          </div>
          <div class="columns medium-2">
            <%= f.text_field :adm_tel2, label: 'Telefono 2' %>
          </div>
          <div class="columns medium-2 end">
            <%= f.text_field :adm_tel3, label: 'Telefono 3' %>
          </div>
        </div>
      </div>
      <div class="content" id="encargado">
      <div class="row">
        <div class="columns medium-2">
          <%= f.text_field :encargado %>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-2">
          <%= f.text_field :enc_email, label: 'Email' %>
        </div>
        <div class="columns medium-2">
          <%= f.text_field :enc_tel1, label: 'Telefono 1' %>
        </div>
        <div class="columns medium-2">
          <%= f.text_field :enc_tel2, label: 'Telefono 2' %>
        </div>
        <div class="columns medium-2 end">
          <%= f.text_field :enc_tel3, label: 'Telefono 3' %>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
