<%= simple_form_for(@inmueble) do |f| %>
  <%= f.error_notification %>
  <%= f.error :base %>
  <div class="form-inputs">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a data-no-turbolink='true' href="#general">General</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#administracion">Administracion</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#encargado">Encargado</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="general">
        <div class="row">
          <%= f.association :inmueble_tipo, :label_method => :nombre %>
          <%= f.input :codigo %>
          <%= f.input :activo %>
        </div>
        <div class="row">
          <%= f.input :direccion, :label => 'Direccion (google maps)', :placeholder => 'Ej: Arenales 2500, CABA'%>
          <%= f.input :piso %>
          <%= f.input :depto %>
          <%= f.input :localidad, disabled: true %>
          <%= f.input :codigo_postal, disabled: true %>
        </div>
        <div class="row">
          <div class="columns medium-8">
            <%= f.input :descripcion, as: :text, wrapper: :inline_form %>
          </div>
        </div>
      </div>
      <div class="content" id="administracion">
        <div class="row">
          <%= f.input :administracion %>
        </div> 
        <div class="row">
          <%= f.input :adm_email, :label => 'Email' %>
          <%= f.input :adm_tel1, :label => 'Telefono 1' %>
          <%= f.input :adm_tel2, :label => 'Telefono 2' %>
          <%= f.input :adm_tel3, :label => 'Telefono 3' %>
        </div>
      </div>
      <div class="content" id="encargado">
      <div class="row">
        <%= f.input :encargado %>
      </div>
      <div class="row">
        <%= f.input :enc_email, :label => 'Email' %>
        <%= f.input :enc_tel1, :label => 'Telefono 1' %>
        <%= f.input :enc_tel2, :label => 'Telefono 2' %>
        <%= f.input :enc_tel3, :label => 'Telefono 3' %>
      </div>
      </div>
    </div>
  </div>
<% end %>
