<div class="panelAcciones">
  <%= boton_atras_index %><%= boton_guardar %><%= boton_borrar %><%= boton_comentarios %>
</div> 
<%= render 'form' %>

<div id="comentarios_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
</div>