<p>
  <strong>Codigo:</strong>
  <%= @inmueble.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @inmueble.descripcion %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @inmueble.activo %>
</p>

<p>
  <strong>Inmueble tipo:</strong>
  <%= @inmueble.inmueble_tipo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @inmueble.direccion %>
</p>

<p>
  <strong>Piso:</strong>
  <%= @inmueble.piso %>
</p>

<p>
  <strong>Depto:</strong>
  <%= @inmueble.depto %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @inmueble.localidad %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @inmueble.codigo_postal %>
</p>

<p>
  <strong>Administracion:</strong>
  <%= @inmueble.administracion %>
</p>

<p>
  <strong>Adm email:</strong>
  <%= @inmueble.adm_email %>
</p>

<p>
  <strong>Adm tel1:</strong>
  <%= @inmueble.adm_tel1 %>
</p>

<p>
  <strong>Adm tel2:</strong>
  <%= @inmueble.adm_tel2 %>
</p>

<p>
  <strong>Adm tel3:</strong>
  <%= @inmueble.adm_tel3 %>
</p>

<p>
  <strong>Encargado:</strong>
  <%= @inmueble.encargado %>
</p>

<p>
  <strong>Enc email:</strong>
  <%= @inmueble.enc_email %>
</p>

<p>
  <strong>Enc tel1:</strong>
  <%= @inmueble.enc_tel1 %>
</p>

<p>
  <strong>Enc tel2:</strong>
  <%= @inmueble.enc_tel2 %>
</p>

<p>
  <strong>Enc tel3:</strong>
  <%= @inmueble.enc_tel3 %>
</p>

<%= link_to 'Edit', edit_inmueble_path(@inmueble) %> |
<%= link_to 'Back', inmuebles_path %>
