<div class="datos_impresion">
<div class="row">
	<div class="columns medium-2">
		<%= label_tag 'Razon Social' %>
		<%= text_field_tag 'empresa_razon_social', @empresa.razon_social %>
	</div>
	<div class="columns medium-2">
		<%= label_tag 'Direccion' %>
		<%= text_field_tag 'empresa_direccion', @empresa.direccion %>
	</div>
	<div class="columns medium-2">
		<%= label_tag 'Telefono' %>
		<%= text_field_tag 'empresa_telefono', @empresa.telefono %>
	</div>
	<div class="columns medium-2 end">
		<%= label_tag 'Email' %>
		<%= text_field_tag 'empresa_email', @empresa.email %>
	</div>
</div>
</div>