<div class="sticky">
	<nav class="top-bar" data-topbar data-no-turbolink data-options="is_hover: false">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">ALQ</a></h1>
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	  	 <!-- Left Nav Section -->
	    <ul class="left">
	      <li><a href="<%= contratos_path %>"><i class="fa fa-gavel fa-fw"></i>&nbsp; Contratos</a></li>
	      <li><a href="<%= personas_path %>"><i class="fa fa-user fa-fw"></i>&nbsp; Personas</a></li>
	      <li><a href="<%= inmuebles_path %>"><i class="fa fa-building-o fa-fw"></i>&nbsp; Inmuebles</a></li>
	      <li><a href="<%= impuestos_path %>"><i class="fa fa-info fa-fw"></i>&nbsp; Impuestos</a></li>
	      <li><a href="<%= liquidaciones_path %>"><i class="fa fa-usd fa-fw"></i>&nbsp; Cobros</a></li>
	      <li><a href="<%= pagos_path %>"><i class="fa fa-usd fa-fw"></i>&nbsp; Pagos</a></li>
	    </ul>
	    <ul class="right">
	      <li><a href="<%= edit_empresa_path(1) %>"><i class="fa fa-cogs fa-fw"></i>&nbsp;</a></li>
	    </ul>
	  </section>
	</nav>
</div>