<div class="sticky">
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">ALQ</a></h1>
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	  	 <!-- Left Nav Section -->
	    <ul class="left">
	      <li><a href="<%= contratos_path %>"><i class="fa fa-gavel fa-fw"></i>&nbsp; Contratos</a></li>
	      <li class="has-dropdown">
	        <a href="<%= personas_path %>"><i class="fa fa-user fa-fw"></i>&nbsp; Personas</a>
	        <ul class="dropdown">
	          <li><a href="<%= personas_path %>">Personas</a></li>
	          <li><a href="<%= cuenta_corriente_index_path %>">Cuenta Corriente</a></li>
	        </ul>
	      </li>
	      <li class="has-dropdown">
	        <a href="<%= inmuebles_path %>"><i class="fa fa-building-o fa-fw"></i>&nbsp; Inmuebles</a>
	        <ul class="dropdown">
	          <li><a href="<%= inmuebles_path %>">Inmuebles</a></li>
	          <li><a href="<%= impuestos_path %>">Impuestos</a></li>
	        </ul>
	      </li>
	      <li class="has-dropdown">
	        <a href="<%= liquidaciones_path %>"><i class="fa fa-usd fa-fw"></i>&nbsp; Liquidaciones</a>
	        <ul class="dropdown">
	          <li><a href="<%= liquidaciones_path %>">Cobros</a></li>
	          <li><a href="<%= pagos_path %>">Pagos</a></li>
	        </ul>
	      </li>
	      <li class="has-dropdown">
	        <a href="<%= cajas_path %>"><i class="fa fa-archive fa-fw"></i>&nbsp; Cajas</a>
	        <ul class="dropdown">
	          <li><a href="<%= cajas_path %>">Cajas</a></li>
	          <li><a href="<%= cajas_conceptos_path %>">Conceptos</a></li>
	          <li><a href="<%= movimientos_path %>">Movimientos</a></li>
	          <li><a href="<%= estado_de_caja_index_path %>">Estado de Caja</a></li>
	        </ul>
	      </li>
	    </ul>
	    <ul class="right">
	    	<li class="has-dropdown">
	        	<a href="<%= edit_empresa_path(1) %>" title='Configuracion'><i class="fa fa-cogs fa-fw"></i>&nbsp;</a>
	        <ul class="dropdown">
	        	<li><%= link_to "Configuracion", edit_empresa_path(1) %></li>
	          <li><%= link_to "Cerrar Sesion", sesion_path("current"), method: "delete" %></li>
	        </ul>
	      </li>
	    </ul>
	  </section>
	</nav>
</div>