<% if @pago.contratos_item_id %>
  <%= custom_form_for @pago, html: {id: 'form_principal'} do |f| %>
    <%= f.error_messages %>
    <div class="form-inputs">
      <%= f.hidden_field :contrato_id %>
      <%= f.hidden_field :contratos_item_id %>
      <%= f.hidden_field :propietario_id %>
      <%= f.hidden_field :fecha %>
      <%= hidden_field_tag 'comision_monto', @empresa.comision_monto, disabled: true %>
      <%= hidden_field_tag 'comision_porc', @empresa.comision_porc, disabled: true %>
      <%= render 'item_info' %>
      <div class="row">
        <div class="columns medium-2">
          <%= label_tag "Numero Interno" %>
          <%= text_field_tag "Numero Interno", @pago.id, disabled: true %>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-2">
          <%= f.text_field :neto, :class => 'currency' %>
        </div>
        <div class="columns medium-2">
          <%= f.text_field :comision, :class => 'currency' %>
        </div>
        <div class="columns medium-2">
          <%= f.text_field :descuento, :class => 'currency' %>
        </div>
        <div class="columns medium-2 end">
          <%= f.text_field :total, readonly: true, label: 'Total a Pagar', :class => 'currency' %>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-6">
          <%= f.text_area :descripcion %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>