<p>
  <strong>Contrato:</strong>
  <%= @pago.contrato %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pago.fecha %>
</p>

<p>
  <strong>Neto:</strong>
  <%= @pago.neto %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @pago.descuento %>
</p>

<p>
  <strong>Comision:</strong>
  <%= @pago.comision %>
</p>

<p>
  <strong>Total:</strong>
  <%= @pago.total %>
</p>

