<div class="row">
  <div class="columns medium-2">
    <%= label_tag 'Total Contrato' %>
    <%= text_field_tag 'contrato_total', @contrato_total, readonly: true, class: "decimal" %>
  </div>
  <div class="columns medium-2">
    <%= label_tag 'Pago Total' %>
    <%= text_field_tag 'contrato_pagado', @contrato_pagado, readonly: true, class: "decimal" %>
  </div>
  <div class="columns medium-2 end">
    <%= label_tag 'Saldo Total' %>
    <%= text_field_tag 'contrato_saldo', @contrato_saldo, readonly: true, class: "decimal" %>
  </div>
</div>
<div class="row">
  <div class="columns medium-2 end">
    <%= label_tag 'Total a Pagar' %>
    <%= text_field_tag 'contrato_total_a_pagar', @contrato_total_a_pagar, readonly: true, class: "decimal" %>
  </div>
</div>