<div class="row">
  <div class="columns medium-2">
    <%= label_tag 'Total Contrato' %>
    <%= text_field_tag 'contrato_total', @contrato.get_total, readonly: true, class: "decimal" %>
  </div>
  <div class="columns medium-2">
    <%= label_tag 'Pago Total' %>
    <%= text_field_tag 'contrato_pago', @contrato.get_pago_total, readonly: true, class: "decimal" %>
  </div>
  <div class="columns medium-2 end">
    <%= label_tag 'Saldo Total' %>
    <%= text_field_tag 'contrato_saldo', @contrato.get_saldo_total, readonly: true, class: "decimal" %>
  </div>
</div>