<%= render 'contrato_refresh' %>
<%= simple_form_for @liquidacion, html: {id: 'form_principal'} do |f| %>
  <%= f.error_notification %>
  <%= f.error :base %>
  <div class="form-inputs">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a data-no-turbolink='true' href="#general">General</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#cuotas">Cuotas</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#impuestos">Impuestos</a></li>
    </ul>
    <% if @contrato %>
      <div class="tabs-content">
        <div class="content active" id="general">
          <%= f.hidden_field :contrato_id %>
          <%= f.hidden_field :inquilino_id %>
          <%= f.hidden_field :propietario_id %>
          <%= f.hidden_field :fecha %>
          <%= render 'contrato_info' %>
          <div class="row">
            <%= f.input :neto %>
            <%= f.input :descuento %>
            <%= f.input :comision %>
            <%= f.input :total, readonly: true %>
          </div>
        </div>
        <div class="content" id="cuotas">
          <%= render 'contrato_items' %>
        </div>
        <div class="content" id="impuestos">
          <%= render 'contrato_impuestos', f: f %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

