<%= render '/layouts/general/datos_impresion' %>
<%= render 'contrato_refresh' %>
<div id="liquidacion_ajax_refresh">
<% if @liquidacion.contratos_item_id %>
  <%= custom_form_for @liquidacion, html: {id: 'form_principal'} do |f| %>
    <%= f.error_messages %>
    <div class="form-inputs">
      <%= f.hidden_field :contrato_id %>
      <%= f.hidden_field :contratos_item_id %>
      <%= f.hidden_field :inquilino_id %>
      <%= f.hidden_field :fecha %>
      <%= render 'item_info' %>
      <div class="row">
        <div class="columns medium-2">
          <%= f.text_field :neto, :class => 'currency' %>
        </div>
        <div class="columns medium-2">
          <%= f.text_field :mora, :class => 'currency' %>
        </div>
        <div class="columns medium-2">
          <%= f.text_field :descuento, :class => 'currency' %>
        </div>
        <div class="columns medium-2 end">
          <%= f.text_field :total, readonly: true, label: 'Total a Cobrar', :class => 'currency' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
