<%= render 'contrato_refresh' %>
<%= simple_form_for @liquidacion, html: {id: 'form_principal'} do |f| %>
  <%= f.error_notification %>
  <%= f.error :base %>
  <div class="form-inputs">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a data-no-turbolink='true' href="#general">General</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#cuotas">Cuotas</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#impuestos">Impuestos</a></li>
    </ul>
    <% if @contrato %>
      <div class="tabs-content">
        <div class="content active" id="general">
          <%= f.hidden_field :contrato_id %>
          <%= f.hidden_field :contratos_item_id %>
          <%= f.hidden_field :inquilino_id %>
          <%= f.hidden_field :propietario_id %>
          <%= f.hidden_field :fecha %>
          <%= render 'contrato_item' %>
          <div class="row">
            <div class="columns medium-2 end">
              <%= label_tag 'Total a Pagar' %>
              <%= text_field_tag 'contrato_total_a_pagar', @liquidacion.contratos_item.monto - @liquidacion.contratos_item.saldo, readonly: true, class: "decimal" %>
            </div>
          </div>
          <div class="row">
            <%= f.input :neto, input_html: {value: @liquidacion.contratos_item.monto - @liquidacion.contratos_item.saldo} %>
            <%= f.input :descuento %>
            <%= f.input :comision %>
            <%= f.input :total, readonly: true %>
          </div>
        </div>
        <div class="content" id="cuotas">
          <%= render 'contrato_info' %> 
          <%= render 'contrato_items' %>
        </div>
        <div class="content" id="impuestos">
        </div>
      </div>
    <% end %>
  </div>
<% end %>

