<%= render 'contrato_refresh' %>
<div id="liquidacion_ajax_refresh">
<% if @liquidacion.contratos_item_id %>
  <%= simple_form_for @liquidacion, html: {id: 'form_principal'} do |f| %>
    <%= f.error_notification %>
    <%= f.error :base %>
    <div class="form-inputs">
      <%= f.hidden_field :contrato_id %>
      <%= f.hidden_field :contratos_item_id %>
      <%= f.hidden_field :inquilino_id %>
      <%= f.hidden_field :fecha %>
      <%= render 'item_info' %>
      <div class="row">
        <%= f.input :neto %>
        <%= f.input :mora %>
        <%= f.input :descuento %>
        <%= f.input :total, readonly: true, label: 'Total a Pagar' %>
      </div>
    </div>
  <% end %>
<% end %>
</div>