<div class="panelAcciones">
  <%= boton_atras_index %><%= boton_guardar %><%= boton_borrar %><%= boton_imprimir %><%= boton_impuestos %>
</div> 
<%= render 'form' %>
<div id="impuestos_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= simple_form_for @contrato, html: {id: 'form_impuestos'}, remote: true do |f| %>
    <%= f.simple_fields_for :contratos_impuestos do |f| %>
      <%= render "contratos/contratos_impuestos_fields", :f => f %>
    <% end %>
  <%= link_to '<i class="fa fa-2x fa-floppy-o"></i>'.html_safe, '#', title: "Guardar", id: "impuestos_guardar" %>
  <% end %>
</div>