<table>
  <thead>
    <tr>
      <th>Contrato</th>
      <th>Fecha</th>
      <th>Neto</th>
      <th>Descuento</th>
      <th>Comision</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liquidaciones.each do |liquidacion| %>
      <tr>
        <td><%= liquidacion.contrato %></td>
        <td><%= liquidacion.fecha %></td>
        <td><%= liquidacion.neto %></td>
        <td><%= liquidacion.descuento %></td>
        <td><%= liquidacion.comision %></td>
        <td><%= liquidacion.total %></td>
        <td><%= link_to 'Show', liquidacion %></td>
        <td><%= link_to 'Edit', edit_liquidacion_path(liquidacion) %></td>
        <td><%= link_to 'Destroy', liquidacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

