<div class="panelAcciones">
  <%= boton_atras_root %><%= boton_nuevo %>
</div> 
<table class="dataTable display responsive no-wrap">
  <thead>
    <tr>
      <th>Contrato</th>
      <th>Fecha</th>
      <th>Neto</th>
      <th>Descuento</th>
      <th>Mora</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @liquidaciones.each do |liquidacion| %>
      <tr>
        <td><%= link_to liquidacion.contrato.nombre, edit_liquidacion_path(liquidacion) %></td>
        <td><%= liquidacion.fecha %></td>
        <td><%= liquidacion.neto %></td>
        <td><%= liquidacion.descuento %></td>
        <td><%= liquidacion.mora %></td>
        <td><%= liquidacion.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

