<p>
  <strong>Contrato:</strong>
  <%= @liquidacion.contrato %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @liquidacion.fecha %>
</p>

<p>
  <strong>Neto:</strong>
  <%= @liquidacion.neto %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @liquidacion.descuento %>
</p>

<p>
  <strong>Comision:</strong>
  <%= @liquidacion.comision %>
</p>

<p>
  <strong>Total:</strong>
  <%= @liquidacion.total %>
</p>

