<%= custom_form_for @persona, html: {id: 'form_principal'} do |f| %>
  <%= f.error_messages %>
  <div class="row">
    <div class="columns medium-2">
      <%= f.select :tipo, [['Inquilino', 'Inquilino'], ['Propietario', 'Propietario'], ['Garante', 'Garante'], ['Otro', 'Otro']] %>
    </div>
    <div class="columns medium-2 end">
      <%= f.text_field :nombre %>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-2">
      <%= f.text_field :telefono %>
    </div>
    <div class="columns medium-2">
      <%= f.text_field :email %>
    </div>
    <div class="columns medium-2 end">
      <%= f.text_field :direccion %>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-6">
      <%= f.text_area :descripcion %>
    </div>
  </div>
<% end %>