<div class="panelAcciones">
  <%= boton_atras_root %><%= boton_nuevo %>
</div> 
<table class="dataTable display responsive no-wrap">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Telfono</th>
      <th>Email</th>
      <th>Direccion</th>
      <th>Descripcion</th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= link_to persona.nombre, edit_persona_path(persona) %></td>
        <td><%= persona.tipo %></td>
        <td><%= persona.telefono %></td>
        <td><%= persona.email %></td>
        <td><%= persona.direccion %></td>
        <td><%= persona.descripcion %></td>
      </tr>
    <% end %>
  </tbody>
</table>
