<p id="notice"><%= notice %></p>

<h1>Listing Personas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Descripcion</th>
      <th>Es inquilino</th>
      <th>Es propietario</th>
      <th>Es garante</th>
      <th>Es otro</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.codigo %></td>
        <td><%= persona.nombre %></td>
        <td><%= persona.activo %></td>
        <td><%= persona.descripcion %></td>
        <td><%= persona.es_inquilino %></td>
        <td><%= persona.es_propietario %></td>
        <td><%= persona.es_garante %></td>
        <td><%= persona.es_otro %></td>
        <td><%= persona.telefono %></td>
        <td><%= persona.email %></td>
        <td><%= persona.direccion %></td>
        <td><%= link_to 'Show', persona %></td>
        <td><%= link_to 'Edit', edit_persona_path(persona) %></td>
        <td><%= link_to 'Destroy', persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persona', new_persona_path %>
