<table class="dataTable display responsive no-wrap">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Descripcion</th>
      <th>Es inquilino</th>
      <th>Es propietario</th>
      <th>Es garante</th>
      <th>Es otro</th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= link_to persona.codigo, edit_persona_path(persona) %></td>
        <td><%= persona.nombre %></td>
        <td><%= persona.activo %></td>
        <td><%= persona.descripcion %></td>
        <td><%= persona.es_inquilino %></td>
        <td><%= persona.es_propietario %></td>
        <td><%= persona.es_garante %></td>
        <td><%= persona.es_otro %></td>
      </tr>
    <% end %>
  </tbody>
</table>
