<div class="row contratos_impuestos_row">
	<div class="columns medium-2">
		<%= f.text_field :fecha_pago, label: "", :class => 'datepicker contratos_impuestos_fecha_pago' %>
	</div>
	<div class="columns medium-2">
		<%= f.collection_select :impuesto_id, @impuestos, :id, :nombre, {}, {:class => 'contratos_impuestos_impuesto', label: ""} %>	
	</div>
	<div class="columns medium-2">
		<%= f.text_field :monto, label: "", :class => "currency" %>
	</div>
	<div class="columns medium-1">
		<%= f.check_box :pago, label: "", :class => 'contratos_impuestos_pago' %>
	</div>
	<div class="columns medium-1 end">
		<%= f.hidden_field :_destroy, :class => 'contratos_impuestos_destroy' %>
		<%= link_to '<i class="fa fa-2x fa-trash-o"></i>'.html_safe, '#', :class => 'quitar_campos' %>
	</div>
</div>