<div class="row">
	<div class="columns medium-3"><%= f.input :monto %></div>
	<div class="columns medium-3"><%= f.input :fecha_desde %></div>
	<div class="columns medium-3"><%= f.input :fecha_hasta %></div>
	<div class="columns medium-3"><%= f.hidden_field :_destroy %></div>
	<div class="columns medium-3"><%= link_to 'X', '', :class => 'quitar_campos' %></div>
</div>