 <div class="row" >
  <%= f.input :fecha_inicio, :as => 'date', required: true %>
  <%= f.input :cuotas, required: true, input_html: {data: {inputmask:"'alias': 'numeric', 'digits': 0, 'max': 52" }} %>
  <%= f.input :monto_inicio, required: true, as: 'decimal' %>
  <%= f.input :incremento, input_html: {data: {inputmask:"'alias': 'numeric', 'digits': 2, 'suffix': '%', 'max': 999, 'autoUnmask' : true" }} %>
  <%= f.input :cada, input_html: {data: {inputmask:"'alias': 'numeric', 'digits': 0, 'suffix': ' Meses', 'max': 12, 'autoUnmask' : true" }} %>
  <%= link_to '<i class="fa fa-2x fa-refresh"></i>'.html_safe, '#', id: 'cuotas_refresh' %>
</div>
<div class="row">
  <div class="columns medium-2"><%= f.label :fecha_desde %></div>
  <div class="columns medium-2 end"><%= f.label :monto %></div>
</div>
<%= f.simple_fields_for :contratos_items do |f| %>
  <%= render "contratos_items_fields", :f => f %>
<% end %>
<%= link_to_add_fields '<i class="fa fa-2x fa-plus-square"></i>'.html_safe, f, :contratos_items %>
</div>