<%= simple_form_for(@contrato) do |f| %>
  <%= f.error_notification %>
  <%= f.error :base %>
  <div class="form-inputs">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a data-no-turbolink='true' href="#general">General</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#cuotas">Cuotas</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="general">
        <div class="row">
          <%= f.input :codigo %>
          <%= f.input :nombre %>
          <%= f.input :carpeta %>
          <%= f.input :activo %>
        </div>
        <div class="row">
          <%= f.association :inmueble, :label_method => :direccion_completa %>
        <!-- Inmueble.includes(:contrato).where(:contratos => {:inmueble_id => nil})
 (Todos los inmuebles no usados)-->
        
        </div>
        <div class="row">
          <%= f.association :inquilinos, :label_method => :nombre, :collection => Persona.where(:es_inquilino => true) %>
          <%= f.association :propietarios, :label_method => :nombre, :collection => Persona.where(:es_propietario => true) %>
          <%= f.association :garantes, :label_method => :nombre, :collection => Persona.where(:es_garante => true) %>
        </div>
        <div class="row">
          <%= f.input :fecha %>
        </div>
        <div class="row">
          <%= f.input :descripcion, as: :text, :wrapper => :inline_form_text %>
        </div>
      </div>
      <div class="content" id="cuotas">
        <%= f.simple_fields_for :contratos_items do |f| %>
          <%= render "contratos_items_fields", :f => f %>
        <% end %>
        <%= link_to_add_fields '<i class="fa fa-2x fa-plus-square"></i>'.html_safe, f, :contratos_items %>
      </div>
    </div>
  </div>
<% end %>

  
  
  



