<%= simple_form_for @contrato, html: {id: 'form_principal'} do |f| %>
  <%= f.error_notification %>
  <%= f.error :base %>
  <div class="form-inputs">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a data-no-turbolink='true' href="#general">General</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#cuotas">Cuotas</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#impuestos">Impuestos</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="general">
        <div class="row">
          <%= f.input :codigo %>
          <%= f.input :nombre %>
          <%= f.input :carpeta %>
          <%= f.input :activo %>
        </div>
        <div class="row">
          <%= f.association :inmueble, :label_method => :direccion_completa %>
          <%= link_to '<i class="fa fa-2x fa-plus-square"></i>'.html_safe, new_inmueble_path, :target => "_blank" %>
        <!-- Inmueble.includes(:contrato).where(:contratos => {:inmueble_id => nil})
 (Todos los inmuebles no usados)-->
        
        </div>
        <div class="row">
          <%= f.association :inquilinos, :label_method => :nombre, :collection => Persona.where(:es_inquilino => true) %>
          <%= f.association :propietarios, :label_method => :nombre, :collection => Persona.where(:es_propietario => true) %>
          <%= f.association :garantes, :label_method => :nombre, :collection => Persona.where(:es_garante => true) %>
          <%= link_to '<i class="fa fa-2x fa-plus-square"></i>'.html_safe, new_persona_path, :target => "_blank" %>
        </div>
        <div class="row">
          <%= f.input :fecha %>
        </div>
        <div class="row">
          <div class="columns medium-8">
            <%= f.input :descripcion, as: :text, :wrapper => :inline_form %>
          </div>
        </div>
      </div>
      <div class="content" id="cuotas">
        <%= render "cuotas_fields", :f => f %>
      <div class="content" id="impuestos">
        <%= render "impuestos_fields", :f => f %>
      </div>
    </div>
  </div>
<% end %>

  
  
  



