<div class="row">
  <div class="columns medium-2"><%= f.label :impuesto %></div>
  <div class="columns medium-2"><%= f.label :fecha_pago %></div>
  <div class="columns medium-2"><%= f.label :monto %></div>
  <div class="columns medium-2"><%= f.label :fecha_vencimiento %></div>
  <div class="columns medium-2 end"><%= f.label :pago %></div>
</div>
<%= f.simple_fields_for :contratos_impuestos do |f| %>
  <%= render "contratos_impuestos_fields", :f => f %>
<% end %>
<%= link_to_add_fields '<i class="fa fa-2x fa-plus-square"></i>'.html_safe, f, :contratos_impuestos %>