<div class="panel">
	<div class="row">
		<div class="columns medium-2">
			<%= label_tag 'Creacion Automatica' %>
		</div>
	</div>
<div class="row" >
	<div class="columns medium-2">
		<%= label_tag 'Fecha Inicio' %>
		<%= text_field_tag 'impuestos_fecha_inicio', nil, :class => 'datepicker' %>
	</div>
	<div class="columns medium-2">
		<%= label_tag 'Impuesto' %>
		<%= select_tag "impuestos_impuesto_id", options_from_collection_for_select(@impuestos, "id", "nombre") %>
	</div>
	<div class="columns medium-2">
		<%= label_tag 'Cuotas' %>
		<%= text_field_tag 'impuestos_cantidad', nil, data: {inputmask:"'alias': 'numeric', 'digits': 0, 'max': 52" } %>
	</div>
	<div class="columns medium-2">
		<%= label_tag 'Cada' %>
		<%= text_field_tag 'impuestos_cada', nil, data: {inputmask:"'alias': 'numeric', 'digits': 0, 'suffix': ' Meses', 'max': 12, 'autoUnmask' : true"} %>
	</div>
	<div class="columns medium-1 end">
  	<%= link_to '<i class="fa fa-2x fa-refresh"></i>'.html_safe, '#', id: 'impuestos_refresh' %>
  </div>
</div>
</div>
