<table class="display responsive no-wrap">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Descripcion</th>
      <th>Carpeta</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= link_to contrato.codigo, edit_contrato_path(contrato)  %></td>
        <td><%= contrato.nombre %></td>
        <td><%= contrato.activo %></td>
        <td><%= contrato.descripcion %></td>
        <td><%= contrato.carpeta %></td>
        <td><%= contrato.fecha %></td>
      </tr>
    <% end %>
  </tbody>
</table>

