<div class="panelAcciones">
  <%= boton_atras_root %><%= boton_nuevo %>
</div> 
<table class="dataTable">
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Descripcion</th>
      <th>Carpeta</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= link_to contrato.inmueble.direccion_completa, edit_contrato_path(contrato)  %></td>
        <td><%= link_to contrato.codigo, edit_contrato_path(contrato)  %></td>
        <td><%= contrato.nombre %></td>
        <td><%= t contrato.activo.class %></td>
        <td><%= contrato.descripcion %></td>
        <td><%= contrato.carpeta %></td>
        <td><%= contrato.fecha %></td>
      </tr>
    <% end %>
  </tbody>
</table>

