<%= custom_form_for @empresa, html: {id: 'form_principal'} do |f| %>
  <%= f.error_messages %>
  <div class="form-inputs">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a data-no-turbolink='true' href="#general">General</a></li>
      <li class="tab-title"><a data-no-turbolink='true' href="#liquidacion">Liquidacion</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="general">
        <div class="row">
          <div class="columns medium-2">
            <%= f.text_field :nombre %>
          </div>
          <div class="columns medium-2 end">
            <%= f.text_field :razon_social %>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-2">
            <%= f.text_field :direccion %>
          </div>
            <div class="columns medium-2">
            <%= f.text_field :piso %>
          </div>
            <div class="columns medium-2 end">
            <%= f.text_field :depto %>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-2">
            <%= f.text_field :telefono %>
          </div>
          <div class="columns medium-2 end">
            <%= f.text_field :email %>
          </div>
        </div>
      </div>
      <div class="content" id="liquidacion">
        <div class="row">
          <div class="column medium-12">
            <%= label_tag "Mora Fija" %>
          </div>
        </div>
        <div class="row">
          <div class="column medium-2">
            <%= f.text_field :mora_fija_dia, :label => 'Dia Desde', data: {inputmask:"'alias': 'numeric', 'digits': 0, 'max': 31"} %>
          </div>
          <div class="column medium-2">
            <%= f.text_field :mora_fija_monto, :label => 'Monto', :class => 'currency' %>
          </div>
          <div class="column medium-2 end">
            <%= f.text_field :mora_fija_porc, :label => 'Porcentaje', :class => 'porcentaje' %>
          </div>
        </div>
        <div class="row">
          <div class="column medium-12">
            <%= label_tag "Mora Variable" %>
          </div>
        </div>
        <div class="row">
          <div class="column medium-2">
            <%= f.text_field :mora_var_dia, :label => 'Dia Desde',data: {inputmask:"'alias': 'numeric', 'digits': 0, 'max': 31"} %>
          </div>
          <div class="column medium-2">
            <%= f.text_field :mora_var_monto, :label => 'Monto', :class => 'currency' %>
          </div>
          <div class="column medium-2 end">
            <%= f.text_field :mora_var_porc, :label => 'Porcentaje', :class => 'porcentaje' %>
          </div>
        </div>
        <div class="row">
          <div class="column medium-12">
            <%= label_tag "Comision" %>
          </div>
        </div>
        <div class="row">
          <div class="column medium-2">
            <%= f.text_field :comision_monto, :label => 'Monto', :class => 'currency' %>
          </div>
          <div class="column medium-2 end">
            <%= f.text_field :comision_porc, :label => 'Porcentaje', :class => 'porcentaje' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
