<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title><%= controller_name %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= render "layouts/general/globales" %>
  <%= render "layouts/general/navbar" %>
    <div class="row">
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <div class="row">
      <div class="panel">
          <%= link_to :back do %>
            <i class="fa fa-2x fa-arrow-left"></i>
          <% end %>
          <input type="submit" name="commit" form='<%= "#{action_name}_#{controller_name.singularize}_#{params[:id]}" %>'>
          <i class="fa fa-2x fa-floppy-o"></i>
          <i class="fa fa-2x fa-trash-o"></i>
      </div>
    </div>
    <div class="row">
      <div class="panel">
        <%= yield %>
      </div> 
    </div>
  </body>
</html>