<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= controller_name+' - '+action_name %></title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/general/spinner" %>
    <%= render "layouts/general/globales" %>
    <%= render "layouts/general/top_bar" %>
    <%= render "layouts/general/comentarios_modal" %>

    <% if notice %>
      <div data-alert id="data-alert" class="alert-box success">
        <%= notice %>
      </div>
    <% end %>
    <div class="row">
      <div class="panel panelForms">
        <%= yield %>
      </div> 
    </div>
    <div class="row footer">
      <%= controller_path + '-' + action_name %>
    </div>
  </body>
</html>